@inject DataBufferService dataBufferService

<style>
	.modBusToPLC > td {
		background-color: rgba(212, 247, 247, 0.5);
	}

	.PLCToModbus > td {
		background-color: rgba(229, 255, 229, 0.5);
	}
</style>

<div>@updateTime</div>
<DxGrid Data="@PLCValueTables" UnboundColumnData="@SetUpdateDirectionColumn" CustomizeElement="UpdateType">
	<Columns>
		<DxGridDataColumn FieldName="modbusIndex"/>
		<DxGridDataColumn FieldName="modbusValue">
			<CellDisplayTemplate>
				<DxCheckBox Checked="@((bool)context.Value)" Enabled="false" CheckType="CheckType.Switch"></DxCheckBox>
			</CellDisplayTemplate>
		</DxGridDataColumn>
		<DxGridDataColumn FieldName="updateDirection" UnboundType="GridUnboundColumnType.String"/>
		<DxGridDataColumn FieldName="mxIndex"/>
		<DxGridDataColumn FieldName="updateValueSuccess">
			<CellDisplayTemplate>
				<DxCheckBox Checked="@((bool)context.Value)" Enabled="false"></DxCheckBox>
			</CellDisplayTemplate>
		</DxGridDataColumn>
		<DxGridDataColumn FieldName="mxValue">
			<CellDisplayTemplate>
				<DxCheckBox Checked="@((bool)context.Value)" Enabled="false" CheckType="CheckType.Switch"></DxCheckBox>
			</CellDisplayTemplate>
		</DxGridDataColumn>
		<DxGridDataColumn FieldName="mxSuccessRead">
			<CellDisplayTemplate>
				<DxCheckBox Checked="@((bool)context.Value)" Enabled="false"></DxCheckBox>
			</CellDisplayTemplate>
		</DxGridDataColumn>@*
		<DxGridDataColumn FieldName="updateType" Visible = "false">
			<CellDisplayTemplate>
				<DxCheckBox Checked="@((bool)context.Value)" Enabled="false"></DxCheckBox>
			</CellDisplayTemplate>
		</DxGridDataColumn>*@
	</Columns>
</DxGrid>

@code {
	[Parameter]
	public IEnumerable<PLCValueTable> PLCValueTables { get; set; }
	private DateTime updateTime;

	protected override Task OnInitializedAsync()
	{
		updateTime = DateTime.Now;
		return base.OnInitializedAsync();
	}

	protected override async Task OnParametersSetAsync()
	{
		updateTime = DateTime.Now;
		await base.OnParametersSetAsync();
	}

	private void SetUpdateDirectionColumn(GridUnboundColumnDataEventArgs e)
	{
		if (e.FieldName == "updateDirection")
		{
			bool tmp = Convert.ToBoolean(e.GetRowValue("updateType"));
			e.Value = GetUpdateDirectionString(tmp);
		}
	}

	private string GetUpdateDirectionString(bool updateType)
	{
		if (updateType)
		{
			return "modbus < < < plc";
		}
		else
		{
			return "modbus > > > plc";
		}
	}

	private void UpdateType(GridCustomizeElementEventArgs e)
	{
		if (e.ElementType == GridElementType.DataRow)
		{
			if ((bool)e.Grid.GetRowValue(e.VisibleIndex, "updateType"))
			{
				e.CssClass = "PLCToModbus";
			}
			else
			{
				e.CssClass = "modBusToPLC";
			}
			
		}
	}
}